/* navbar css */
.navbar {
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 25px;
    color: #2b2b2b;
}
.navbar-brand span {
    display: block;
    margin-top: -7px;
    color: #575757;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    text-transform: capitalize;
    color: #2b2b2b;
    font-weight: 500;
    padding: 0 20px;
}
/* header css */
.total-team {
    background: url(../../images/pager-bg.png) no-repeat right;
    background-size: cover;
    background-color: #F2F7FD;
    text-align: center;
    padding: 70px 0;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}
.total-team h3 {
    color: #2b2b2b;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}
.total-team h3 span {
    font-weight: 700;
}
.total-team p {
    margin: 5px 0;
    color: #2b2b2b;
}
.page-title {
    text-align: center;
    font-size: 162px;
    font-weight: 700;
    color: #EC9600;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
}