.teacher-cart {
    padding: 15px 10px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 20px;
}
.teacher-cart-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid #34327C;
}
.teacher-cart-des {
    margin-left: 10px;
}
.teacher-cart-des p {
    margin: 0;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    color: #575757;
}